# TensorFlow
tensorflow >= 1.11.0
# PyTorch
torch >= 0.4.1
# progress bars in model download and training scripts
tqdm
# A PyTorch implementation of Google AI's BERT model
pytorch-pretrained-bert >= 0.4.0
